<p>Your decisions during the auction will be binding: that is,</p>
<ol>
  <li>if you have dropped out at a price you can’t re-enter the auction and</li>
  <li>if you are the winner in the auction your decision will be implemented by the experimenter.</li>
</ol>
<p>If you have any questions at this stage you may raise your hand.</p>
<p>Please think carefully to make desired decisions as the auction proceeds.</p>
<p class="error">The auction will begin in the following screen.</p>
