<h1><%= title %></h1>
<div id="price-div">
  <p>
    The current price of the <%= objectName %> is:
  </p>
  <h1 style="text-align: center;"><%= price %> Rupees</h1>
</div>
<div id="bid-div">
  <p>
    What do you want to do?</p>
  <p><input id="stayIn" type="button" value="I am willing to buy at this price. Therefore, I am in the auction." /></p>
  <p>or</p>
  <p><input id="dropOut" type="button" value="I am not willing to buy at this price. Therefore, I am out of the auction." /></p>
</div>
<div id="wait-div">Please wait for the other participants.</div>
