<ul>
	<li>This experiment studies decision making in an auction-like market</li>
	<li>You are guaranteed to receive Rupees <%= showupFee %> as show-up fee. This amount will not get affected by your decisions later in the experiment.</li>
	<li>You will first undertake an earnings task</li>
	<li>The instructions for subsequent stages will be provided later</li>
	<li>Please refrain from getting influenced by the decisions taken by other participants in this session.</li>
	<li>Your decisions in the experiment will be recorded electronically and will remain anonymous.</li>
</ul>
