<h1><%= title %></h1>
<form action="/login" method="POST">
  <% if(failedLogin) { %>
  <div class="error"><%= failedLogin %></div>
  <% } %>
  <label for="id">Experiment Code:</label>
  <input type="text" name="id" />
  <input type="submit" />
</form>
