<% if(won) { %>
	<p>You won the auction and will receive the <%= objectName %> for Rs <%= subjectPrice %>.</p>
	<p>Your will receive the chocolate bar and your money earnings today are: Rupees <%= netEarnings %></p>
<% } else { %>
  <p>You did not win the auction.</p>
	<p>Your total earnings today are: Rupees <%= totalEarnings %></p>
<% } %>
<p>Thank you for participating in today&rsquo;s experiment.</p>
<p>Please fill up the following survey questionnaires, which will help inform our research</p>
