<p>
	5. The instructions for the experiment were clear:</p>
<p style="margin-left: 240px; ">
	<input name="q5" type="radio" value="-2" />Strongly disagree<input name="q5" type="radio" value="-1" />&nbsp;Disagree<input name="q5" type="radio" value="0" />More or less<input name="q5" type="radio" value="1" />&nbsp;Agree<input name="q5" type="radio" value="2" />&nbsp;Strongly Agree</p>
<p>
	&nbsp;</p>
<p>
	6. There was enough time to make decisions:</p>
<p style="margin-left: 240px; ">
	<input name="q5" type="radio" value="-2" />Strongly disagree<input name="q5" type="radio" value="-1" />&nbsp;Disagree<input name="q5" type="radio" value="0" />More or less<input name="q5" type="radio" value="1" />&nbsp;Agree<input name="q5" type="radio" value="2" />&nbsp;Strongly Agree</p>
<p>
	&nbsp;</p>
<p>
	7.&nbsp;The experimental staff was prompt and&nbsp;encouraged questions/clarifications:</p>
<p style="margin-left: 240px; ">
	<input name="q5" type="radio" value="-2" />Strongly disagree<input name="q5" type="radio" value="-1" />&nbsp;Disagree<input name="q5" type="radio" value="0" />More or less<input name="q5" type="radio" value="1" />&nbsp;Agree<input name="q5" type="radio" value="2" />&nbsp;Strongly Agree</p>
<p>
	&nbsp;</p>
<p>
	8. The task in today&#39;s experiment is similar to something that you see in everyday life:</p>
<p style="margin-left: 240px; ">
	<input name="q5" type="radio" value="-2" />Strongly disagree<input name="q5" type="radio" value="-1" />&nbsp;Disagree<input name="q5" type="radio" value="0" />More or less<input name="q5" type="radio" value="1" />&nbsp;Agree<input name="q5" type="radio" value="2" />&nbsp;Strongly Agree</p>
