<p>
	&nbsp;</p>
<p>
	1. Your age in years:</p>
<p style="margin-left: 520px; ">
	<input name="age" type="text" /></p>
<p>
	2. Gender:</p>
<p style="margin-left: 520px; ">
	<input name="q1" type="radio" value="true" />Male<input name="q1" type="radio" value="false" />&nbsp;Female</p>
<p>
	&nbsp;</p>
<p>
	3. Faculty:</p>
<p style="margin-left: 520px; ">
	<input name="age" type="text" /></p>
<div>
	<p>
		4. Comments:</p>
	<p style="margin-left: 520px; ">
		<textarea cols="50" name="comments" rows="10"></textarea></p>
	<div>
		&nbsp;</div>
</div>
<p>
	&nbsp;</p>
