<table class="results">
  <tr>
  <%
    var keys = ['publicId', 'publicStartTime', 'pageIndex', 'publicAuctionId', 'tablesCorrect', 'price', 'roundChoice', 'won', 'totalEarnings', 'netEarnings', 'publicQuestionnaire'];
    for(k in keys) {
    var key = keys[k];
    %>
    <td><%- key %></td>
    <% } %>
  </tr>
  <%
    for(var r in results) {
    var result = results[r];
  %>
  <tr>
    <% for(k in keys) {
    var key = keys[k];
    %>
    <td>
    <%- result[key] %>
    </td>
    <% } %>
  </tr>
  <% } %>
</table>
