<p>Please wait for the auction to commence.</p>

<script type='text/javascript'>
  //TODO: Should not use localhost
  var socket = io.connect('http://localhost');
  socket.on('start auction', function() {
    // TODO: Next page
  });
  $(document).ready(function() {
    alert('Yep');
  });
</script>
